BODY {
    background: #000;
    color: #FFFFFF;
    border-color: #00000099;
    box-shadow: 0 0 0 #fc9;
}

DIV {
    background: rgb(0,0,0);
    color: rgba(0,0,0, .5);
}

P {
    background: hsl(60deg, 50%, 50%);
    color: hsla(60deg, 50%, 50%, .5);
    border-color: hsla(60deg, 50%, 50%, 50%);
}
